{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<title>Create Shedule</title>
<style>
    body {
        background-color: #89CCF7;
    }
</style>
{% endblock meta %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<h1 align="center" class="font7"> Tambah Kegiatan! </h1>
<div align = "center" class="container pt-3" margin= "20px">
<form action='' method="POST" margin= "20px">
    {% csrf_token %}
    <br>
    <div class="form-group">
        <div class="font14">
            {{form.nama_kegiatan.label_tag}}
        </div>
        {{form.nama_kegiatan}}
    </div>

    <div align = "center" class="centre-items">
        <input type="submit" class="btn btn-primary" value="Tambah Kegiatan">
    </div>
</form>
  
</div>


{% endblock content %}