{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<title>Tambahkan dirimu!</title>
<style>
    body {
        background-color: #89CCF7;
    }
</style>
{% endblock meta %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<h1 align="center" class="font7"> Ikutan yuk! </h1>
<div align="center" class="container pt-3" margin="20px">
<form action='' method="POST">
    {% csrf_token %}
    <br>
    <div class="form-group">
        <div class="font14">
            {{form.nama_peserta.label_tag}}
        </div>
        {{form.nama_peserta}}
    </div>

    <div align="center" >
        <input type="submit" class="btn btn-primary" value="Tambahkan Dirimu">
    </div>
</form>


</div>


{% endblock content %}