{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<title>Farah Husna Nabilah</title>
<style>
    body {
        background-color: #89CCF7;
    }
</style>
{% endblock meta %}

{% block content %}


<br>
<br>
<br>
<br>
<div align = "center">
    <div class="flex flex-col h-80 w-50">
        <div  class="font7">
            Hallo! <br> Apakah yang ingin kamu lakukan?
        </div>
        <br>
        <br>
        <br>
        <div>
            <div >
                <div >
                    <p class = "font13">Jika kamu memiliki kegiatan baru, yuk tambahkan!</p>
                <a class="btn btn-outline-dark px-4 rounded-pill scroll-top" href="{% url 'addkegiatan'%}">Tambah Kegiatan</a>
                    <br>
                    <br>
                    <br>
                    <p class="font13">Jika kamu ingin mengikuti kegiatan, yuk lihat list nya!</p>
                   <a class="btn btn-outline-dark px-4 rounded-pill scroll-top" href="{% url 'listkegiatan'%}">Kumpulan Kegiatan</a>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock content %}
