{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<title>List Kegiatan</title>
<style>
    body {
        background-color: #89CCF7;
    }
</style>
{% endblock meta %}

{% block content %}


<br>
<br>
<br>
<br>
<h1 align="center" class="font7"> List Kegiatan </h1>
<div>
{% for x in kegiatan %}

    <div align= "center">
        <br>
         <p class ="font13"> {{ x.nama_kegiatan }} </p> 

            {% for y in peserta %}
            {% if y.kegiatan == x %}
                <div class ="font12">
                    {{ y.nama_peserta }}
                </div>
            {% endif %}
            {% endfor %}
       
        <br>
<a class="btn btn-outline-dark px-4 rounded-pill scroll-top" href="{%url 'addpeserta' org_id=x.pk%}">Tambahkan Dirimu!</a>
     
{% endfor %}
</div>

{% endblock content %}