{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<title>Create Shedule</title>
<style>
  body {
    background-color: #89CCF7;
  }
  </style>
{% endblock meta %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<h1 align="center" class="font7"> Create Your Schedule</h1>
    <form action='' method="POST">
        {% csrf_token %}
        {{ Form }}
        <br>
        <div class="centre-items">
            <input type="submit" class="btn btn-primary" value="Add Schedule">
        </div>
    </form>

    <div>
      {% for sched in add %}
    </div>
    <p>{{sched.course}}</p>
    <p>{{sched.lecturer}}</p>
    <p>{{sched.sks}}</p>
    <p>{{sched.place}}</p>
    <p>{{sched.year}}</p>
    <p>{{sched.description}}</p>
    </div>
    {% endfor %}
  </div>

  
  {% endblock content %}
