{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<title>Detail Schedule</title>
<style>
     body {
    background-color:#89CCF7;
  }
  .one {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 2
  }
</style>
{% endblock meta %}

{% block content %}


<div>
    <br>
    <br>
    <br>
    <h1 align="center" class="font7"> This is your detail schedule!</h1>
    <br>
    <br>
    <table align="center" border="0" class = " one table-responsive-md">
        <tbody>
            <tr>
                <th align="left">Course</th>
                <td>:</td>
                <td>{{sched.course}}</td>
            </tr>
            <tr>
                <th align="left">Lecturer</th>
                <td>:</td>
                <td>{{sched.lecturer}}</td>
            </tr>
            <tr>
                <th align="left">Number of Credits</th>
                <td>:</td>
                <td>{{sched.sks}}</td>
            </tr>
            <tr>
                <th align="left">Place</th>
                <td>:</td>
                <td>{{sched.place}}</td>
            </tr>
            <tr>
                <th align="left">Year</th>
                <td>:</td>
                <td>{{sched.year}}</td>
            </tr>
            <tr>
                <th align="left">Description</th>
                <td>:</td>
                <td>{{sched.description}}</td>
            </tr>

            
            </tbody>
    </table>
    
    
    </div>

    </div>
    <br>
    <br>
    <div align = "center">
<a href="{% url 'story5:ScheduleList' %}">
    <button align="center" class="btn btn-icon btn-danger"><i class="fa fa-trash"></i>Back to List Schedule</button>
</a> </div>

    
    
    {% endblock content %}