{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<title>List Shedule</title>
<style>
     body {
    background-color:#89CCF7;
  }
  .one {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 2
  }
</style>
{% endblock meta %}

{% block content %}


{% if listshedule.count == 0 %}
<br>
<br>
<br>
<h1 align="center" class="font7"> List Schedule</h1>
<br>
<br>
<br>
    <h1>You don't have any schedule</h1>
    <a href="{% url 'story5:add' %}">
        <button align="center" class="btn btn-icon btn-danger"><i class="fa fa-trash"></i>Add New Schedule</button>
    </a>

{% else %}

<div>
    <br>
    <br>
    <br>
    <h1 align="center" class="font7"> List Schedule</h1>
    <br>
    <br>
    {% for sched in listschedule %}
    <table align="center" border="0" class = " one table-responsive-md">
        <tbody>
            <tr>
                <th align="left">Course</th>
                <td>:</td>
                <td>{{sched.course}}</td>
            </tr>
            <tr>
                <th align="left">Lecturer</th>
                <td>:</td>
                <td>{{sched.lecturer}}</td>
            </tr>
            <tr>
                <th align="left">Place</th>
                <td>:</td>
                <td>{{sched.place}}</td>
            </tr>
            </tbody>
    </table>
    <br>
    <p align="center">
        <a href="{% url 'story5:detail' pk1=sched.pk %}">
            <button align="center" class="btn btn-icon btn-danger"><i class="fa fa-trash"></i>Detail Schedule</button>
        </a>
    </p>
    <p align="center">
        <a href="{% url 'story5:delete' pk=sched.pk %}">
            <button align="center" class="btn btn-icon btn-danger"><i class="fa fa-trash"></i>Delete Schedule</button>
        </a>
    </p>
            <br>
            <br>
            {% endfor %}
    </div>

    </div>


    {% endif %}
    
    
    
    {% endblock content %}