{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
  <title>Farah's Experience</title>
{% endblock meta %}

{% block content %}

   <section class="section1" id="experience">
     <br>
    <br>
  <br>
  <br>
  <div align = "center">
   <h1  class = " border3 font10">Experience</h1> 
  </div>
   <br>
   <p align="center" class="font1">Wisuda Fasilkom UI 2020</p>
    <p align="center" class="font2">Staff of Relation</p>
    <p align="center" class="font2b">Sep 2020 - Oct 2020</p>
    <br>
    <p align="center" class="font1">Pemira Fasilkom UI 2020</p>
    <p align="center" class="font2"> PIC of Public Relation and Publication</p>
    <p align="center" class="font2b">Sep 2020 - Dec 2020</p>
    <br>
    <p align="center" class="font1"> BEM Fasilkom UI 2020</p>
    <p align="center" class="font2">Public Relation Staff</p>
    <p align="center" class="font2b">Feb 2020 - Jan 2021</p>
    <br>
    <p align="center" class="font1"> COMPFEST 12</p>
    <p align="center" class="font2">HRD of Fundraising</p>
    <p align="center" class="font2b">Sep 2020 - Oct 2020</p>
    <br>
    <p align="center" class="font1"> OKK UI 2020</p>
    <p align="center" class="font2">Staff of Mentor Division</p>
    <p align="center" class="font2b">Jun 2020 - Sept 2020</p>
    <br>

    <p align="center" class="font1"> Sekolah BEM Fasilkom UI 2019</p>
    <p align="center" class="font2">Public Relation and Publication Staff</p>
    <p align="center" class="font2b">Oct 2019 - Dec 2019</p>
    <br>
    <p align="center" class="font1"> Pemira Fasilkom UI 2019</p>
    <p align="center" class="font2">Public Relation and Publication Staff</p>
    <p align="center" class="font2b">Oct 2019 - Dec 2019</p>
    <br>
    <p align="center" class="font1"> Gathering Syntax 2019</p>
    <p align="center" class="font2"> Public Relation Staff</p>
    <p align="center" class="font2b">Jul 2019 - Aug 2019</p>
<br>
    <p align="center" class="font1">Etniz Campus Week 2020</p>
    <p align="center" class="font2">Treasurer</p>
    <p align="center" class="font2b">Dec 2019 - Jan 2019</p>
    <br>
    <p align="center"class="font1">Class of 2019 Team</p>
    <p align="center"class="font2">Treasurer</p>
    <p align="center" class="font2b">Aug 2018 - Jun 2019</p>
    <br>
    <p align="center"class="font1">Etniz Choir </p>
    <p align="center"class="font2">Sopran Member</p>
    <p align="center" class="font2b">Sep 2016 - Jan 2019</p>
    <br>
    <p align="center"class="font1">Etniz Cup 2018</p>
    <p align="center"class="font2">VPIC of Business Funds</p>
    <p align="center" class="font2b">Feb 2018 - Apr 2018</p>
    <br>
    <p align="center"class="font1">Etniz Cup 2017</p>
    <p align="center" class="font2">Staff of Liaison Officer</p>
    <p align="center" class="font2b">Feb 2017 - Apr 2017</p>

    <br>
    <p align="center"class="font1">Teacher’s Assistant</p>
    <p align="center" class="font2">Math and English</p>
    <p align="center" class="font2b">Jul 2017 - Feb 2019</p>
<br>
<br>
<div align="center">
  <h1 class=" border3 font10">Social Project</h1>
</div>
<br>
<br>
<p  align="center"><img src="{% static 'img/sospro 1.JPG' %}" class="img2 img-responsive rounded-pill"> </p>
<p align="center" class="font1">Positive Internet Care for the Future</p>
<p align="center"><img src="{% static 'img/sospro 2.jpg' %}" class="img2 img-responsive rounded-pill"> </p>
<p align="center" class="font1">Peduli Sesama</p>
<p align="center"><img src="{% static 'img/sospro 3.jpg' %}" class="img2 img-responsive rounded-pill"> </p>
<p align="center" class="font1">Sekolah Singgah</p>
<br>
<br>
<div align="center">
  <h1 class=" border3 font10">Business Project</h1>
</div>
<br>
<br>
<p align="center" class="font1">Brownies Asik</p>
<p align="center" class="font2b">2016-2017</p>
<p align="center" class="font2">Sell various types of Brownies</p>
<br>
<p align="center" class="font1">Triplet Dessert</p>
<p align="center" class="font2b">2019 - Present</p>
<p align="center" class="font2">Sell various types of Dessert Box</p>
    <br>
    <br>
   <p align ="center"> <a align ="center" class="btn btn-outline-dark rounded-pill scroll-top" href="#experience">Back to Top</a> </p>
      </section>

      {% endblock content %}