{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
    <title>Farah Husna Nabilah</title>
  {% endblock meta %}

  {% block content %}
  <header class="header fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm py-3">
      <div class="container">
        <a class="navbar-brand" href="#">
          <small class="font-weight-bold mb-0 text-uppercase">Farah Husna Nabilah</small>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a data-smooth class="nav-link scroll-link" href="#home">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" href="#education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" href="#achievements">Achievements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" href="{% url 'main:experience' %}">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" href="{% url 'main:identitas' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" href="{% url 'story5:add' %}">Add Schedule</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class=" section2 py-5 header text-center text-white mt-5" id="home">
    <div class="container py-5 text-white">
      <header class="py-5 my-lg-5">
        <h1 class="font7">Hallo Everyone!</h1>
        <p class="font-italic mb-1">Welcome to my personal website </p>
        <a class="btn btn-outline-light px-4 rounded-pill scroll-top" href="#about">Are you curious about me?</a>
      </header>
    </div>
  </section>
  
  <section class="py-5 d-flex" id="about">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-5 md-auto">
        <p><img src="{% static 'img/farhus.jpg' %}"class= "img1 img-responsive rounded-circle" align="left"> </p>
      </div>
        <div class="col-lg-6 md-auto">
       <p class="font6">
          About me
          <br>Farah Husna Nabilah
          <br>Information System Student
        </p><p class="font-italic mb-5 font12">I’m usally called Farah. I was born on Bekasi on July 28, 2001.
        I’m Indonesian. I’m class of 2019 and currently student majoring
        in Information Systems, Faculty of Computer Science, University
        of Indonesia. I like interacting with other people. I adapt easily to
        new environments. My hobbies are singing, reading and cooking.
        I’m a perfectionist. I’m a person who likes to work hard and never
        gives up. My motto is “take a risk or lose the chance”. I have good
        time management. I have interest in business and marketing.</p>
        <a class="btn btn-outline-dark px-4 rounded-pill scroll-top" href="https://drive.google.com/file/d/1TjiSZsQHFrv8waGijeqeUEx1t9IdQM53/view?usp=sharing">Download CV</a>
      </div>
    </div>
  </div>
  </section>
  <section class="py-5 d-flex" id="education">
    <div class="container py-5">
      <h2 align="center" class="font7">Educational Background</h2>
      <br>
      <br>
      <div class=" row-text-center">
      <p align="center" ><img src="{% static 'img/Makara_UI.png' %}" class="img4"> </p>
      <h1 align= "center" class="font3">University of Indonesia</h1>
      <p align= "center" class="font4">Bachelor of Computer Science </p>
      <p align= "center" class="font5">2019 - 2023 (Expected)</p>
<br>
<br><p align="center"><img src="{% static 'img/sman2bekasi.png' %}" class="img4"> </p>
      <h1 align="center" class="font3">SMAN 2 Bekasi</h1>
      <p align="center" class="font4">Science Major</p>
      <p align="center" class="font5">2016 - 2019</p>
<br>
<br>
     <p align = "center"> <a class="btn btn-outline-dark px-4 rounded-pill scroll-top" href="{% url 'main:experience' %}">See my full experience</a></p>
    </div> 
  </div>
  </section>
  
  <section class="py-5 d-flex align-items-center" id="skills">
    <div class="container py-5">
      <h2 align="center" class="font7">Skills</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-4 ">
          <div class="border2">
            <p align="center" class="font8">  PROFESSIONAL<br> SKILL</p>
            <p class="font9">Copywriting</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <p class="font9">HTML/CSS</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <p class="font9">Java</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <p class="font9">Python</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <br>
          </div>
        </div>
        <div class="col-lg-4 ">
          <div class="border2">
          <p align="center" class="font8"> PERSONAL <br> SKILL</p>
          <p class="font9">Leadership</p>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <p class="font9">Teamwork</p>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <p class="font9">Communication</p>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <p class="font9">Problem Solving</p>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <p class="font9">Public Speaking</p>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <br>
          </div>
        </div>
        <div class="col-lg-4 ">
          <div class="border2">
          <p align="center"class="font8"> TOOLS <br> SKILL</p>
          <p class="font9">Microsoft Office</p>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <p class="font9">Figma</p>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <p class="font9">Adobe Photoshop</p>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <p class="font9">Canva</p>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <br>
          </div>
        </div>
      </div>

  </section>
  
  <section class="py-5 d-flex align-items-center" id="achievements">
    <div class="container py-5">
      <h2 align="center" class="font7">Achievements</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-6 mx-auto">
         <p align="center"> <img src="{% static 'img/piala 1.JPG' %}" class="img3 rounded-circle"> </p>
        <div align="center">
          <p align="center" class="border1 font11">RUNNER UP 1
            <br>CHOIR COMPETITION</p>
        </div>
        </div>
        <div class="col-lg-6 mx-auto">
          <p align ="center"><img src="{% static 'img/piala 2.JPG' %}" class="img3 rounded-circle"> </p>
          <div align="center"> <p align ="center" class="border1 font11">RUNNER UP 1
          <br>CHOIR COMPETITION</p>
            </div>
        </div>
      </div>
    </div>
    
  </section>

  <!-- Demo section 4 -->
  <section class="py-5 d-flex align-items-center" id="contact">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-lg-9 mx-auto">
        <h2 class="font10">For Business Inquiries</h2>
      <table align="center">
        <br>
        <tbody>
          <tr>
            <th><img src="{% static 'img/logohp.png' %}" width="40px" height="40px"></th>
            <td align="left" class="font9"> 085814264038 </td>
          </tr>
          <tr>
            <th><img src="{% static 'img/logoemail.png' %}" width="40px" height="40px"></th>
            <td align="left" class="font9"> farah.husna@ui.ac.id </td>
          </tr>
          <tr>
            <th><img src="{% static 'img/logolinked.png' %}" width="45px" height="45px"></th>
            <td align="left" class="font9"> Farah Husna Nabilah </td>
          </tr>
              <tr>
                <th><img src="{% static 'img/logorumah.png' %}" width="45px" height="45px"></th>
                <td align="left" class="font9"> Pekayon Jaya, Bekasi Selatan, Kota Bekasi </td>
              </tr>
      
        </tbody>
      </table>
      </div>
    </div> <div class="container py-5">
      <div class="row text-center">
        <div class="col-lg-9 mx-auto">
          <h2 class="font10">Get me in Contact</h2>
          <br>
          <a href="https://www.facebook.com/farahhusna28/"><img src="{% static 'img/logofb.png' %}" height="50" width="50" /></a>
          &nbsp
          &nbsp
          &nbsp
          <a href="https://www.linkedin.com/in/farah-husna-nabilah-b87991199/"><img src="{% static 'img/logolinkedin.png' %}" height="50"
              width="50" /></a> 
              &nbsp
              &nbsp
              &nbsp
              <a href="https://www.instagram.com/husnafarah/"><img src="{% static 'img/iglogo.png' %}" height="50"
              width="50" /></a>
              &nbsp
              &nbsp
              &nbsp
              
                  <a href="https://wa.me/6285814264038"><img src="{% static 'img/logowa.png' %}" height="50"
                  width="50" /></a>   
            </div>
            </div>
              <br>
              <br>
              <br>
              <br>
              <p align="center"> <a align="center" class="btn btn-outline-dark rounded-pill scroll-top" href="#home">Back to
                  Top</a> </p>
            </section>

            {% endblock content %}