{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<title>Farah's Profile</title>
<style>
  body {
    background-color:#89CCF7;
  }

  img.p {
    border-radius: 50%;
    display: block;
    width: 250px;
  }

  .borderdot {
    border: 5px dotted rgb(3, 44, 23);
    width: 680px;
    border-radius: 30px;
  }
  .one {
    color: rgb(5, 88, 19);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 2
  }

  .two {
    color: rgb(5, 88, 19);
    font-family: Cambria;
    font-size: 16px
  }

  h2 {
    color: rgb(1, 48, 56);
    font-family: Georgia, serif;
    font-size: 44px;
    letter-spacing: 3px;
    font-weight: bold;
  }

  h3 {
    color: rgb(1, 48, 56);
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: bold;
  }

  h4 {
    color: rgb(1, 48, 56);
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
  }

  p.font {
    color: rgb(5, 88, 19);
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
</style>
{% endblock meta %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<body >
<center>
<div class = "borderdot">
<br>
  <h2 align=center><i>THIS IS ME</i></h2>
<br>
<img class = "p"  src="{% static 'img/fotodiri.jpeg' %}" alt= "Farah Husna Nabilah" height="250" width="250"/>

<br/>

<p class="font">I am usually called Farah or Farhus.
<br>I am a student majoring in Information Systems.
<br>I was born in Bekasi on July 28, 2001.
<br>I am a person who likes to interact with other people.
<br>I am also a person who is easy to adapt to a new environment.
<br>I have an interest in business and marketing.</p>
<br>
 <h3>PERSONAL DATA</h3>
<br>
 <table class="one">
  <tbody>
    <tr>
      <th align="left">Name</th>
      <td>:</td>
      <td> Farah Husna Nabilah</td>
    </tr>

    <tr>
      <th align="left">Student Number</th>
      <td>:</td>
      <td>1906298891</td>
    </tr>

    <tr>
      <th align="left">Class of</th>
      <td>:</td>
      <td>2019</td>
    </tr>

    <tr>
      <th align="left">College</th>
      <td>:</td>
      <td>University of Indonesia</td>
    </tr>

    <tr>
      <th align="left">Hobby</th>
      <td>:</td>
      <td>Singing, Reading, and Cooking</td>
    </tr>

  </tbody>
</table>
<br>
<h3 align=center>EDUCATIONAL BACKGROUND</h3>
<br>
<table class="two" align=center width="500px" border="2">
  <tr align="center">
    <th >Num.</th>
    <th >Year</th>
    <th>Educational Stage</th>
    <th >Educational Institution</th>
  </tr>

  <tr>
    <td align=center>1</td>
    <td align=center>2005-2006</td>
    <td align=center>Kindergarten</td>
    <td align=center>TK Islam Nurul Taufiq</td>
  </tr>

  <tr>
    <td align=center>2</td>
    <td align=center>2007-2013</td>
    <td align=center>Elementary School</td>
    <td align=center>SDN Pekayon Jaya 4</td>
  </tr>

  <tr>
    <td align=center>3</td>
    <td align=center>2013-2016</td>
    <td align=center>Junior High School</td>
    <td align=center>SMPN 1 Bekasi</td>
  </tr>

  <tr>
    <td align=center>4</td>
    <td align=center>2016-2019</td>
    <td align=center>Senior High School</td>
    <td align=center>SMAN 2 Bekasi</td>
  </tr>

  <tr>
    <td align=center>5</td>
    <td align=center>2019-Now</td>
    <td align=center>College</td>
    <td align=center>Universitas Indonesia</td>
  </tr>

</table>

<br />

<h4>click the icon below to get to know me more closely</h4>
<br>
<a href="https://www.linkedin.com/in/farah-husna-nabilah-b87991199/"><img src="{% static 'img/logolinkedin.png' %}" height="50"
    width="50" /></a> 
    &nbsp
    &nbsp
    &nbsp
    <a href="https://www.instagram.com/husnafarah/"><img src="{% static 'img/iglogo.png' %}" height="50"
    width="50" /></a>
   
    <p> <br> </p>
</div>
<br>
<br>
<br>
</center>
</body>
{% endblock content %}